@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

.f1 {
	width: 1000px;
	margin: 100px auto; 
	font-size: 20px;
}


input {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
input {
	height: 52px;
	width: 90px;
	background-color: #03c75a;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	min-width: 80px;
	margin-left: 10px;
	border: 1px solid #000;
	border-radius: 2px;
}

.f1 dd {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
